@import './vars.css';

html,
body,
#app {
  height: 100%;
  background: var(--c-bg-base);
  color: var(--c-text-base);
  border-color: var(--c-border);
  --un-default-border-color: var(--c-border);
  /* scrollbar */
  scrollbar-color: var(--c-border) var(--c-bg-base);
  scrollbar-width: thin;
}
